<div id="some" class="row">
    <div>
        <div><label><input type="radio" name="radio1" value="1"></label></div>
        <div>
            <div class="user_info_row info-section">
                <div class="col-md-2 col-sm-3 col-md-offset-1 info-label"><strong>Name</strong></div>
                <div class="col-md-4 col-sm-3 " id="name" class="text-left"></div>
            </div>
            <div class="user_info_row info-section">
                <div class="col-md-2 col-sm-3 col-md-offset-1 info-label"><strong>BHK</strong></div>
                <div class="col-md-4 col-sm-3 " id="BHK" class="text-left"></div>
            </div>

            <div class="user_info_row info-section">
                <div class="col-md-2 col-sm-3 col-md-offset-1"><strong>BathRooms</strong></div>
                <div class="col-md-4 col-sm-4 ">
                    <p1 id="bathroom" class="text-left"></p1>
                </div>
            </div>


            <div class="user_info_row info-section">
                <div class="col-md-2 col-sm-3 col-md-offset-1"><strong>Kitchen</strong></div>
                <div class="col-md-4 col-sm-3">
                    <p1 id="kitchen" class="text-left"></p1>
                </div>
            </div>
            <div class="user_info_row info-section">
                <div class="col-md-2 col-sm-3 col-md-offset-1"><strong>Price/SqrFT</strong></div>
                <div class="col-md-4 col-sm-3">
                    <p1 id="priceSqr" class="text-left"></p1>
                </div>
            </div>
            <div class="user_info_row info-section">
                <div class="col-md-2 col-sm-3 col-md-offset-1"><strong>Total Area</strong></div>
                <div class="col-md-4 col-sm-3">
                    <p1 id="area" class="text-left"></p1>
                </div>
            </div>
            <div class="user_info_row info-section">
                <div class="col-md-2 col-sm-3 col-md-offset-1"><strong>Price</strong></div>
                <div class="col-md-4 col-sm-3">
                    <p1 id="price" class="text-left"></p1>
                </div>
            </div>
            <div class="user_info_row info-section">
                <div class="col-md-2 col-sm-3 col-md-offset-1"><strong>Zipcode</strong></div>
                <div class="col-md-4 col-sm-3">
                    <p1 id="zipcode" class="text-left"></p1>
                </div>
            </div>
            <div class="user_info_row info-section">
                <div class="col-md-2 col-sm-3 col-md-offset-1"><strong>City</strong></div>
                <div class="col-md-4 col-sm-3">
                    <p1 id="city" class="text-left"></p1>
                </div>
            </div>
            <div class="user_info_row info-section">
                <div class="col-md-2 col-sm-3 col-md-offset-1"><strong>State</strong></div>
                <div class="col-md-4 col-sm-3">
                    <p1 id="state" class="text-left"></p1>
                </div>
            </div>
            <div class="user_info_row info-section">
                <div class="col-md-2 col-sm-3 col-md-offset-1"><strong>Country</strong></div>
                <div class="col-md-4 col-sm-3">
                    <p1 id="country" class="text-left"></p1>
                </div>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-warning btn-lg pull-right" data-toggle="pill" href="/account/userEditProfile/"
        data-target="#editprofile" onclick="updateUserInfo()">Edit
</button>

