<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-header col-md-2">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               // <a class="navbar-brand" href="#"><%= title%></a>

            </div>
            <div class="navbar-collapse collapse col-md-6 pull-left">
                <ul class="nav navbar-nav">
                    <li id="home"><a href="/home"><h3 class="nav-sign-icon active "><span class="fa "> User</span></h3></a></li>
                    <li id="about"><a href="/about"><h3 class="nav-sign-icon"><span class="fa"> Address</span></h3></a></li>
                </ul>

            </div>
            <div class="navbar-collapse collapse col-md-4 pull-right">
                <ul class="nav navbar-nav">
                    <li id="signin" class="pull-right"> <a  href="/user/login">  <h3 class="nav-sign-icon"><span class="fa fa-sign-in"> Signout</span></h3></a></li>
                </ul>

            </div>
        </div>
    </div>
</div>