
        <fieldset >
            <legend>User Info</legend>
                    <div class="user_info_row info-section">
                        <div class="col-md-1 col-sm-3 col-md-offset-1 info-label"><strong>Role</strong></div>
                        <div class="col-md-4 col-sm-3 " id="role" class="text-left"></div>
                    </div>
                    <div class="user_info_row info-section">
                        <div class="col-md-1 col-sm-3 col-md-offset-1 info-label"><strong>Name</strong></div>
                        <div class="col-md-4 col-sm-3 " id="name" class="text-left"></div>
                    </div>

                    <div class="user_info_row info-section">
                            <div class="col-md-1 col-sm-3 col-md-offset-1"><strong>Email</strong></div>
                            <div class="col-md-4 col-sm-4 " ><p1 id="username" class="text-left"></p1></div>
                    </div>


                    <div class="user_info_row info-section">
                            <div class="col-md-1 col-sm-3 col-md-offset-1"><strong>Mobile</strong></div>
                            <div class="col-md-4 col-sm-3"  ><p1 id="mobile" class="text-left"></p1></div>
                    </div>
                <button type="button" class="btn btn-warning btn-lg pull-right" data-toggle="pill" href="/account/userEditProfile/" data-target="#editprofile" onclick="updateUserInfo()">Edit</button>

        </fieldset>

